# https://velog.io/@gongmeda/docker-compose%EB%A1%9C-%EC%9D%BC%EA%B4%80%EB%90%9C-spring-boot-%EB%A1%9C%EC%BB%AC-%EA%B0%9C%EB%B0%9C-%ED%99%98%EA%B2%BD-%EA%B5%AC%EC%84%B1%ED%95%98%EA%B8%B0
services:
  mysql:
    image: mysql:8.0.33
    container_name: mysql_onams_local 	#container 이름 지정
    ports:
      - 43306:3306
    volumes:
      - ./dockerdb/mysql/data:/var/lib/mysql
      - ./dockerdb/mysql/init:/docker-entrypoint-initdb.d
    command:
      - '--character-set-server=utf8mb4'
      - '--collation-server=utf8mb4_unicode_ci'
    environment:
      MYSQL_ROOT_PASSWORD: onbrid8845
      MYSQL_DATABASE: onams