server:
  port: 8081

spring:
  profiles:
    # local, dev, onbrid, kgu, dudc.. 등으로 설정.
    # local,dev 이런식으로 중복 설정 가능.
    active: dev
  docker:
    compose:
      # local profile(application-local.yml) 에서만 동작하게 세팅.
      enabled: false
  file:
    path:
      window: 'C:\\ONAMS_FILE\\'
      mac: '/Users/onbrid/ONAMS_FILE'
      unix: '/data/ONAMS_FILE/'

# oracle, maria
database:
  mapper-dir:
    onams: oracle
    other: douzone

# Mybatis Setting
mybatis:
  type-aliases-package: com.onbrid.test.springboot.springboottest.model
  configuration:
    map-underscore-to-camel-case: true
    default-statement-timeout: 30
    #default-fetch-size: 500


jasypt:
  encryptor:
    bean: jasyptStringEncryptor

# Logback 설정
logging:
  level:
    root: info
    com.onbrid.test: debug
    sql-mapper: debug
    org.springframework.web: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace
    org.hibernate.type.BasicTypeRegistry: warn
    com.zaxxer.hikari.HikariConfig: DEBUG
    com.zaxxer.hikari.pool.HikariPool: DEBUG
    com.zaxxer.hikari: TRACE
